$color: #595959;
$text2: #aeaeae;

.header {
	border-radius: 7px 7px 0 0;
	box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	li {
		padding: 5px;
		font-weight: 500;
		padding-bottom: 11px;
	}
}
.box-curv {
	// background-color: red;
	box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 0 0 20px 0px;
	-webkit-transform: translate(4px, 0px);
 	-moz-transform: translate(4px, 0px);
    -ms-transform: translate(4px, 0px);
     -o-transform: translate(4px, 0px);
        transform: translate(4px, 0px);
}
.box-menu {
	// background-color: grey;
	border-radius: 25px 8px 0 0px;
	box-shadow: 1px 0 8px 0 rgba(0, 0, 0, 0.2);
	margin-top: 3px;

	.header-li {
		padding-right: 20px;
		color: $text2;
		font-size: 14px;
		&:hover {
			background: #e8e8e8;
		}
	}
	.li:first-child {
		border-radius: 25px 8px 0 0px;		
		color: $text2;
	}
	.active {
		color: $color;
	}
}

.activity-text {
	font-size: 16px;
	line-height: 24px;
	margin-left: 5px;
	color: $color;
}
.activity {
	background: url('../../img/phone.png');
	background-repeat: no-repeat;
	text-decoration: none;
	padding: 12px;
}
.box-activity {
	display: flex;
	flex-direction: row;	
}
.settings-l {
	background: url('../../img/settings-l.svg');
	background-repeat: no-repeat;
	text-decoration: none;
	padding: 5px 10px;
	margin-right: 10px;
}