* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
	background-color: #ffffff;
	li {
		text-align: center;
		margin-left: 0.5rem;
		margin-top: 10px;
	}
}

.container {
	border: 1px solid #999898;
	border-radius: 7px;
	min-height: 500px;
	min-width: 340px;
	background-color: #fcfcfc;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@import './components/header';
@import './components/footer';
@import './components/activityfeed';
@import './components/activitydetail';